body {
    /*margin: 2em;*/
    margin: 8px;
    padding: 8px;
    background-color: white;
    cursor: default;
 
     
}

p {
    color: black;
    cursor: default; 
}

div {
    color: black;
    cursor: default; 
}
.MainVideo{
    
    width:100%;
    height:400px;
    
}

.commands{
    color:blue;
    padding:5px;
}
.commands:hover{
    color:black;
}

/*
This is the wrapper for the local file
used when open or dragging...
*/
.LocalFileDisplay{
    position: relative;
    
    /*background-color:gray;*/
    border:solid 1px gray;
    margin-top:10px
}
.LocalFileDisplay .LocalFileDisplayInfo{
    text-align: center;
    color:black;
    font-size:12px;
}
 
.LocalFileDisplay .LocalFileDisplayVideo{
    height:150px;
    width:100%;
    /*margin:5px;*/
    padding:5px;
    
}
 